<div class="container twitcher">
	<div id="header" class='text-center'>
		<a href="https://www.twitch.tv/" target='_blank'>
		<img id='img-header' src="https://www.leviathyn.com/wp-content/uploads/2014/01/twitchfeaturedimg.png">
		</a> 
	</div>

	<div class="mb-2">
		<button id='btn-all' class='button'>All</button>
		<button id='btn-online' class='button'>Online</button>
		<button id='btn-offline' class='button'>Offline</button>
	</div>

	<p>Tracking Channels</p>
	
	<div class='streams' id='streams-online'></div>
	<div class='streams' id='streams-offline'></div>
	<br>
	<div id="footer" class='text-center'></div>
</div>



