    .arcadeLogo {
        margin-left: 60px;
    }
    
    #nav-mobile {
        margin-right: 60px;
    }
    
    .banner {
        background: url(../img/arcade_banner_2.png);
        background-repeat: no-repeat;
        background-position: center;
        /*  background-size: cover;
  */
        height: 100px;
    }
    
    h1 {
        font-size: 2.2rem;
    }
    
    .footer {
        background: url(../img/arcadebg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 700px;
        border-top: 7px solid #ffd180;
        border-bottom: 7px solid #ffd180;
    }
    
    #froggerjpg.froggertile {
        background: url(../img/Frogger.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 300px;
        border: 7px solid #ffffff;
    }
    
    #twitchjpg.froggertile {
        background: url(../img/twitch.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 300px;
        border: 7px solid #ffffff;
    }
    
    #mainjpg {
        background: url(../img/heading.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 800px;
        border: 7px solid #ffffff;
        box-shadow: 0 15px 35px -6px #222222;
        max-width: 100%;
        margin-top: 5px;
    }
    
    .loginSection {
        margin-left: 60px;
    }
    
    .registerSection {
        margin-left: 60px;
    }
    
    .page-header {
        margin-bottom: 0;
        margin-top: 15px;
        font-size: 25px;
    }
    
    .row {
        margin-bottom: 0 !important;
    }
    
    #loginBtn {
        margin-left: 53px;
        margin-bottom: 25px;
    }
    
    #registerBtn {
        margin-left: 53px;
        margin-bottom: 25px;
    }
    
    .fluid {
        padding: 0;
    }
    
    .card-image {
        width: auto;
        overflow: hidden;
    }
    
    .card {
        height: 450px
    }
    /*@font-face to load 8bit font*/
    
    @font-face {
        font-family: 'PressStart2P.ttf', '8-Bit Madness';
        src: url("../fonts/8-Bit Madness.ttf") format('truetype');
        src: url("/fonts/pressstart2p-webfont.ttf");
        font-style: normal;
        font-weight: 100;
    }
    /*Header 'inner child'*/
    
    #indexHeader {
        font-size: 54px;
        font-family: "PressStart2P.ttf", "8-Bit Madness", fantasy, Arial, sans-serif;
        text-shadow: -3px 2px #ff7d00;
        margin-top: 8%;
    }
    /*carousel styling*/
    
    .carousel .carousel-item>img {
        width: 200% !important;
    }
    /*Dashboard and Logout Text*/
    
    nav ul a {
        -webkit-transition: background-color .3s;
        transition: background-color .3s;
        font-size: 25px !important;
        font-family: fantasy;
        color: #fff;
        display: block;
        padding: 0 15px;
        cursor: pointer;
        text-shadow: 1px 2px #222222;
    }
    /*heading above Frogger and Twitch*/
    
    h1#feature {
        font-family: fantasy;
        color: #ffa726;
        text-align: center;
        text-shadow: 2px 2px #222222
    }
    /*new releases header*/
    
    h3#new-releases {
        font-family: fantasy;
        color: #ffa726;
        text-align: center;
        text-shadow: 2px 2px #222222;
    }